@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes scale-in {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .animate-scale-in {
    animation: scale-in 0.3s ease-out;
  }
}
